h1 {
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
    padding-left: 10px;
}

#main-header {
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 0 0 2px #000, 0 0 1px #000;
    color: #FFF;
}

#headerDog {
    position: top; 
}

.header {
    background-color: #2B86FA;
	background-image: url(./assets/dogs-header-2132-800x200.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
	text-align: center;
}
.header nav {
    text-align: right;
    margin-top: 25px;
    padding: 0px 10px 0px 10px;
    color: #fff;
}
.header nav a {
    color: #fff;
}

.header nav a:hover {
    background: #FF4141;
}