h1 {
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
    padding-left: 10px;
}

#main-header {
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 0 0 2px #000, 0 0 1px #000;
    color: #FFF;
}

.container {
    position: relative;
    text-align: center;
    color: #000;
    font-size: 32px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.centered {
    position: absolute;
    top: 30%;
    bottom: 50%;
    left: 5%;
    right: 30%;
}

.header {
    background-color: #DBF3FD;
    background-position: center;
    padding: 3px;
    height: 50px;
    text-align: right;
    border-radius: 5px 5px 0px 0px;
}

